.hero4{
    
    div{
        background-image:
        linear-gradient(to bottom, rgba(44, 44, 44, 0.52), rgba(51, 51, 51, 0.73)),
        url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg);
        background-repeat: no-repeat;
        
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height:550px;
        background-color: silver;
        color: white;
        background-position: center;
        background-size: cover;
    }
    h2{
        font-size: 90px;

    }
    p{
        font-size: 28px;
        gap: 10px;
        
    }
}
.form{
    display: flex;
    justify-content: center;
   align-items: center;
    flex-direction: column;
    height: 1200px;
    gap: 100px;
    p{
        font-size: 25px;
        max-width: 600px;
    }
    input{
       border: none;
       width: 580px;
       border-bottom: 1px solid black;
        height: 100px;
        font-size: 25px;
        opacity: 0.6;
        
        
    }
   
}
.button3{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: auto;
    
    
    max-width: 40%;
    height: 50px;
    button{
        background-color: #0085A1;
       border: 1px solid white; 
       color: white;
       font-weight: bold;
        height: 50px;
        width: 100px;
      
        

    }
}